In [2]:
import pandas as pd

In [3]:
data_set = "data/cases_and_deaths.csv"

In [4]:
data_df = pd.read_csv(data_set)

data_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,22/01/2020,4887871.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,23/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
2,Alabama,24/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,Alabama,25/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
4,Alabama,26/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

#### check for null entries

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11536 entries, 0 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          11536 non-null  object
 1   date                           11536 non-null  object
 2   total_population               10712 non-null  float64
 3   cumulative_cases               11536 non-null  int64
 4   cumulative_cases_per_100_000   10712 non-null  float64
 5   cumulative_deaths              11536 non-null  int64
 6   cumulative_deaths_per_100_000  10712 non-null  float64
 7   new_cases                      11480 non-null  float64
 8   new_cases_7_day_rolling_avg    11256 non-null  float64
 9   new_deaths                     11480 non-null  float64
 10  new_deaths_7_day_rolling_avg   11254 non-null  float64
 11  new_deaths_per_100_000         10660 non-null  float64
 12  new_cases_per_100_000          10660 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

In [6]:
data_df.isnull().sum()

state                              0
date                               0
total_population                 824
cumulative_cases                   0
cumulative_cases_per_100_000     824
cumulative_deaths                  0
cumulative_deaths_per_100_000    824
new_cases                         56
new_cases_7_day_rolling_avg      280
new_deaths                        56
new_deaths_7_day_rolling_avg     282
new_deaths_per_100_000           876
new_cases_per_100_000            876
dtype: int64

In [7]:
df = data_df.dropna()

df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10450 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10450 non-null  object
 1   date                           10450 non-null  object
 2   total_population               10450 non-null  float64
 3   cumulative_cases               10450 non-null  int64
 4   cumulative_cases_per_100_000   10450 non-null  float64
 5   cumulative_deaths              10450 non-null  int64
 6   cumulative_deaths_per_100_000  10450 non-null  float64
 7   new_cases                      10450 non-null  float64
 8   new_cases_7_day_rolling_avg    10450 non-null  float64
 9   new_deaths                     10450 non-null  float64
 10  new_deaths_7_day_rolling_avg   10450 non-null  float64
 11  new_deaths_per_100_000         10450 non-null  float64
 12  new_cases_per_100_000          10450 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

#### check for duplicate values

In [9]:
df.duplicated().sum()

0

#### see the unique states

In [10]:
df['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [11]:
df['state'].nunique() #number of unique states

52

In [12]:
df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### statistical analysis

In [13]:
df.describe()

,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
count,1.045000e+04,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000,10450.000000
mean,6.353973e+06,29811.193780,408.896654,1342.198660,16.983147,508.253301,492.878002,16.117512,15.966608,0.206753,6.851282
std,7.215047e+06,67550.896256,542.365294,3789.567721,30.728320,1269.348789,1202.616774,54.662972,52.061525,0.457041,9.516537
min,5.777370e+05,0.000000,0.000000,0.000000,0.000000,-140.000000,0.000000,-131.000000,0.000000,-0.990000,-4.640000
25%,1.767114e+06,37.000000,1.005000,0.000000,0.000000,1.000000,2.744048,0.000000,0.000000,0.000000,0.050000
50%,4.468402e+06,4495.000000,161.765000,118.000000,4.730000,109.000000,111.000000,2.000000,2.428571,0.060000,3.540000
75%,7.444605e+06,28476.500000,626.892500,920.000000,17.907500,500.000000,492.535714,12.000000,12.333333,0.220000,9.200000
max,3.955704e+07,613101.000000,2934.280000,32827.000000,178.510000,15300.000000,11870.000000,1081.000000,974.285714,7.130000,82.400000

In [14]:
# Removing records where 'new_cases' or 'new_deaths' are less than 0 negative
df_cleaned = df[(df['new_cases'] >= 0) & (df['new_deaths'] >= 0)]

df_cleaned.describe()

,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
count,1.036800e+04,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000,10368.000000
mean,6.365158e+06,29757.464410,408.065459,1336.319252,16.911026,509.357253,493.469466,16.286458,15.926019,0.208877,6.869250
std,7.224389e+06,67466.607823,541.473582,3781.555576,30.542226,1270.351366,1202.702971,54.818185,51.462626,0.457747,9.526648
min,5.777370e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.805832e+06,34.000000,0.930000,0.000000,0.000000,2.000000,2.571429,0.000000,0.000000,0.000000,0.060000
50%,4.468402e+06,4492.500000,161.230000,117.000000,4.730000,109.000000,110.714286,2.000000,2.428571,0.060000,3.550000
75%,7.535591e+06,28516.250000,625.495000,920.250000,17.932500,502.000000,495.785714,12.000000,12.428571,0.220000,9.210000
max,3.955704e+07,613101.000000,2934.280000,32827.000000,178.510000,15300.000000,11870.000000,1081.000000,974.285714,7.130000,82.400000

In [15]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10368 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10368 non-null  object
 1   date                           10368 non-null  object
 2   total_population               10368 non-null  float64
 3   cumulative_cases               10368 non-null  int64
 4   cumulative_cases_per_100_000   10368 non-null  float64
 5   cumulative_deaths              10368 non-null  int64
 6   cumulative_deaths_per_100_000  10368 non-null  float64
 7   new_cases                      10368 non-null  float64
 8   new_cases_7_day_rolling_avg    10368 non-null  float64
 9   new_deaths                     10368 non-null  float64
 10  new_deaths_7_day_rolling_avg   10368 non-null  float64
 11  new_deaths_per_100_000         10368 non-null  float64
 12  new_cases_per_100_000          10368 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

In [16]:
df_cleaned.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Marcov chain

In [18]:
import numpy as np
from hmmlearn import hmm
import matplotlib.pyplot as plt

In [23]:
# Convert date to datetime object
df_cleaned['date'] = pd.to_datetime(df_cleaned['date'], format='%d/%m/%Y')

C:\Users\Eric\AppData\Local\Temp\ipykernel_12084\1335600615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['date'] = pd.to_datetime(df_cleaned['date'], format='%d/%m/%Y')

In [24]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10368 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10368 non-null  object
 1   date                           10368 non-null  datetime64[ns]
 2   total_population               10368 non-null  float64
 3   cumulative_cases               10368 non-null  int64
 4   cumulative_cases_per_100_000   10368 non-null  float64
 5   cumulative_deaths              10368 non-null  int64
 6   cumulative_deaths_per_100_000  10368 non-null  float64
 7   new_cases                      10368 non-null  float64
 8   new_cases_7_day_rolling_avg    10368 non-null  float64
 9   new_deaths                     10368 non-null  float64
 10  new_deaths_7_day_rolling_avg   10368 non-null  float64
 11  new_deaths_per_100_000         10368 non-null  float64
 12  new_cases_per_100_000          10368 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(2), object(1)
memory usage: 1.1+ MB