In [1]:
import pandas as pd

In [2]:
data_set = "data/cases_and_deaths.csv"

In [4]:
data_df = pd.read_csv(data_set)

data_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,22/01/2020,4887871.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,23/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
2,Alabama,24/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,Alabama,25/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
4,Alabama,26/01/2020,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

#### check for null entries

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11536 entries, 0 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          11536 non-null  object
 1   date                           11536 non-null  object
 2   total_population               10712 non-null  float64
 3   cumulative_cases               11536 non-null  int64
 4   cumulative_cases_per_100_000   10712 non-null  float64
 5   cumulative_deaths              11536 non-null  int64
 6   cumulative_deaths_per_100_000  10712 non-null  float64
 7   new_cases                      11480 non-null  float64
 8   new_cases_7_day_rolling_avg    11256 non-null  float64
 9   new_deaths                     11480 non-null  float64
 10  new_deaths_7_day_rolling_avg   11254 non-null  float64
 11  new_deaths_per_100_000         10660 non-null  float64
 12  new_cases_per_100_000          10660 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

In [5]:
data_df.isnull().sum()

state                              0
date                               0
total_population                 824
cumulative_cases                   0
cumulative_cases_per_100_000     824
cumulative_deaths                  0
cumulative_deaths_per_100_000    824
new_cases                         56
new_cases_7_day_rolling_avg      280
new_deaths                        56
new_deaths_7_day_rolling_avg     282
new_deaths_per_100_000           876
new_cases_per_100_000            876
dtype: int64

In [9]:
df = data_df.dropna()

df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5,Alabama,27/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Alabama,28/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Alabama,29/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Alabama,30/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Alabama,31/01/2020,4887871.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10450 entries, 5 to 11535
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          10450 non-null  object
 1   date                           10450 non-null  object
 2   total_population               10450 non-null  float64
 3   cumulative_cases               10450 non-null  int64
 4   cumulative_cases_per_100_000   10450 non-null  float64
 5   cumulative_deaths              10450 non-null  int64
 6   cumulative_deaths_per_100_000  10450 non-null  float64
 7   new_cases                      10450 non-null  float64
 8   new_cases_7_day_rolling_avg    10450 non-null  float64
 9   new_deaths                     10450 non-null  float64
 10  new_deaths_7_day_rolling_avg   10450 non-null  float64
 11  new_deaths_per_100_000         10450 non-null  float64
 12  new_cases_per_100_000          10450 non-null  float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.1+ MB

#### check for duplicate values